<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Street</th>
      <th>Number</th>
      <th>Complement</th>
      <th>Bairro</th>
      <th>Uf</th>
      <th>City</th>
      <th>Country</th>
      <th>Cep</th>
      <th>Doc</th>
      <th>Doc2</th>
      <th>Name</th>
      <th>Tel</th>
      <th>Cel</th>
      <th>Date born</th>
      <th>Sex</th>
      <th>News</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.user_id %></td>
        <td><%= client.street %></td>
        <td><%= client.number %></td>
        <td><%= client.complement %></td>
        <td><%= client.bairro %></td>
        <td><%= client.uf %></td>
        <td><%= client.city %></td>
        <td><%= client.country %></td>
        <td><%= client.cep %></td>
        <td><%= client.doc %></td>
        <td><%= client.doc2 %></td>
        <td><%= client.name %></td>
        <td><%= client.tel %></td>
        <td><%= client.cel %></td>
        <td><%= client.date_born %></td>
        <td><%= client.sex %></td>
        <td><%= client.news %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
