<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @client.user_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @client.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @client.complement %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @client.bairro %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @client.uf %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Doc:</strong>
  <%= @client.doc %>
</p>

<p>
  <strong>Doc2:</strong>
  <%= @client.doc2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @client.tel %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @client.cel %>
</p>

<p>
  <strong>Date born:</strong>
  <%= @client.date_born %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @client.sex %>
</p>

<p>
  <strong>News:</strong>
  <%= @client.news %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
