<% if client_signed_in? %>
  <%= current_client.email %>
   <%= link_to "Sair", destroy_client_session_path, method: :delete %>
<%end%>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<% unless @cart.line_items.empty? %>
  <h3>Carrinho de Compras</h3>
  <table>
<%= render(@cart.line_items) %>

    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
<% if client_signed_in? %>
<%= link_to "Comprar", checkout_path(@cart), class: "buy" %>
<%else%>
  <%= button_to "Comprar", new_client_registration_path, method: :get %>
<%end%>
  <%= button_to 'Esvaziar Carrinho', @cart, method: :delete,data: { confirm: 'Are you sure?' } %>
<%end%>
