<%= form_for(@ordem_compra) do |f| %>
  <% if @ordem_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem_compra.errors.count, "error") %> prohibited this ordem_compra from being saved:</h2>

      <ul>
      <% @ordem_compra.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address_zipcode %><br>
    <%= f.text_field :address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_number %><br>
    <%= f.number_field :address_number %>
  </div>
  <div class="field">
    <%= f.label :address_complement %><br>
    <%= f.text_field :address_complement %>
  </div>
  <div class="field">
    <%= f.label :address_neighbourhood %><br>
    <%= f.text_field :address_neighbourhood %>
  </div>
  <div class="field">
    <%= f.label :address_city %><br>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_state %><br>
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label :address_country %><br>
    <%= f.text_field :address_country %>
  </div>
  <div class="field">
    <%= f.label :phone_area_code %><br>
    <%= f.text_field :phone_area_code %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="actions">
<%= pagseguro_form f, :submit => "Efetuar pagamento!" %>
  </div>
<% end %>
