<h1>Listing ordem_compras</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address zipcode</th>
      <th>Address street</th>
      <th>Address number</th>
      <th>Address complement</th>
      <th>Address neighbourhood</th>
      <th>Address city</th>
      <th>Address state</th>
      <th>Address country</th>
      <th>Phone area code</th>
      <th>Phone number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ordem_compras.each do |ordem_compra| %>
      <tr>
        <td><%= ordem_compra.order_id %></td>
        <td><%= ordem_compra.name %></td>
        <td><%= ordem_compra.email %></td>
        <td><%= ordem_compra.address_zipcode %></td>
        <td><%= ordem_compra.address_street %></td>
        <td><%= ordem_compra.address_number %></td>
        <td><%= ordem_compra.address_complement %></td>
        <td><%= ordem_compra.address_neighbourhood %></td>
        <td><%= ordem_compra.address_city %></td>
        <td><%= ordem_compra.address_state %></td>
        <td><%= ordem_compra.address_country %></td>
        <td><%= ordem_compra.phone_area_code %></td>
        <td><%= ordem_compra.phone_number %></td>
        <td><%= link_to 'Show', ordem_compra %></td>
        <td><%= link_to 'Edit', edit_ordem_compra_path(ordem_compra) %></td>
        <td><%= link_to 'Destroy', ordem_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordem compra', new_ordem_compra_path %>
