<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @ordem_compra.order_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ordem_compra.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ordem_compra.email %>
</p>

<p>
  <strong>Address zipcode:</strong>
  <%= @ordem_compra.address_zipcode %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @ordem_compra.address_street %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @ordem_compra.address_number %>
</p>

<p>
  <strong>Address complement:</strong>
  <%= @ordem_compra.address_complement %>
</p>

<p>
  <strong>Address neighbourhood:</strong>
  <%= @ordem_compra.address_neighbourhood %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @ordem_compra.address_city %>
</p>

<p>
  <strong>Address state:</strong>
  <%= @ordem_compra.address_state %>
</p>

<p>
  <strong>Address country:</strong>
  <%= @ordem_compra.address_country %>
</p>

<p>
  <strong>Phone area code:</strong>
  <%= @ordem_compra.phone_area_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ordem_compra.phone_number %>
</p>

<%= link_to 'Edit', edit_ordem_compra_path(@ordem_compra) %> |
<%= link_to 'Back', ordem_compras_path %>
